body {
  margin: 0px;
}

.main {
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem;  */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-link {
  padding: 0.5rem;
  margin: 0.5rem;
}

.disabled-link {
  pointer-events: none;
}

.mainDisplay {
  display: flex;
  flex-direction: column;
}

.tempoDisplay {
  text-align: center;
}

.beatInfo {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.metButtons {
  display: flex;
  justify-content: center;
}

.program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presetContainer {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.presetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.programTitle {
  font-size: 18px;
  text-align: center;
  padding: 1.5rem;
  margin: 0.5rem;
  border: none;
}

.programControls {
  margin: 0.5rem;
}

.play,
.stop,
.createPreset,
.tap {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem;
}

.stop {
  background: #ff4742;
  border: 1px solid #ff4742;
}

.createPreset {
  background: #0673b3;
  border: 1px solid #0673b3;
}

.tap {
  background: #9606b3;
  border: 1px solid #9606b3;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

.play:hover,
.stop:hover,
.createPreset:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .play,
  .stop {
    padding: 10px 30px;
  }
}
